:root {
    --blue-color: RGB(69, 144, 207);
    --grey-color: RGB(227, 232, 239);
    --header-padding: 5%;
    --reg-padding: 2%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    height: 100vh;
}

.blue-theme {
    background-color: var(--blue-color);
    color: white;
    border: 0px;
    text-align: left;
}

.button-group {
    display: flex;
    gap: 1rem;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: var(--grey-color);
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

#dashboard {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 3fr;
}

#header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background-color: white;
    box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    gap: 20%;
}

#header>* {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-left: var(--header-padding);
    padding-right: var(--header-padding);
}

.header-button {
    width: 5rem;
    height: 2rem;
    border-radius: 20px;
    text-align: center;
}

img {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}

input {
    height: 2rem;
    width: 40vw;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 1rem;
    background-color: var(--grey-color);
}

.profile {
    gap: 15px;
}

#projects {
    grid-area: 1 / 1 / 3 / 2;
}

#sidebar {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#sidebar>:not(:first-child) {
    padding-left: 12%;
    gap: 16px;
}

#sidebar>:first-child {
    padding-left: 10%;
    gap: 10px;
    padding-bottom: 15%;
    padding-top: 15%;
}


.sidebar-button {
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
}

.sidebar-row {
    display: flex;
    align-items: center;
    height: 4vh;
}

svg {
    height: 1.5rem;
    width: auto;
}

#sidebar-header>svg {
    height: 2rem;
    width: auto;
}