:root {
    --blue-color: RGB(69, 144, 207);
    --grey-color: RGB(227, 232, 239);
    --orange-color: RGB(230, 193, 124);
    --header-padding: 5%;
    --reg-padding: 2%;
    --color-width:20px;
    --shadow:0px 1px 10px 0px rgba(0, 0, 0, 0.25);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#announcements > .container{
    background-color: white;
    height: 100%;
    border-radius: 10px;
    box-shadow: var(--shadow);
    align-items: center;
    justify-content: center;
}

body {
    height: 100vh;
}

.blue-theme {
    background-color: var(--blue-color);
    color: white;
    border: 0px;
    text-align: left;
}

.button-group {
    display: flex;
    gap: 1rem;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
}

#content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: var(--grey-color);
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding-left: var(--reg-padding);
    padding-right: var(--reg-padding);
    row-gap: var(--header-padding);
    column-gap: var(--reg-padding);
}

#dashboard {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 3fr;
}

.grey-text {
    color: grey;
    font-weight: 500;
    font-size: 0.9rem;
}

#header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background-color: white;
    box-shadow: var(--shadow);
    flex-direction: column;
    gap: 20%;
}

#header>* {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-left: var(--header-padding);
    padding-right: var(--header-padding);
}

.header-button {
    width: 5rem;
    height: 2rem;
    border-radius: 20px;
    text-align: center;
}

hr {
    border: none;
    height: 1px;
    background-color: var(--grey-color);
    width: 80%;
    margin: auto;
}

img {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}

input {
    height: 2rem;
    width: 40vw;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 1rem;
    background-color: var(--grey-color);
}

.margin-bottom {
    margin-bottom: 1.5vh;
}

.margin-left {
    margin-left: 2vh;
}

.margin-top {
    margin-top: 2.5vh;
}

.margin-right {
    margin-right: 2vh;
}

.profile {
    gap: 15px;
}

.profile-color {
    background-color: var(--orange-color);
}

#projects {
    grid-area: 1 / 1 / 3 / 2;
}

#projects > .container {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: var(--header-padding);
    column-gap: var(--reg-padding);
}

#projects > .container > * {
    background-color: white;
    border-radius: 10px;
    box-shadow: var(--shadow);
    display: grid;
    grid-template-columns: 1fr 25fr;
    overflow: hidden;
    height: 22vh;
    width: 25vw;
    position: relative;
}

.project-buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#sidebar {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#sidebar>:not(:first-child) {
    padding-left: 12%;
    gap: 16px;
}

#sidebar>:first-child {
    padding-left: 10%;
    gap: 10px;
    padding-bottom: 15%;
    padding-top: 15%;
}


.sidebar-button {
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
}

.sidebar-row {
    display: flex;
    align-items: center;
    height: 4vh;
}

svg {
    height: 1.5rem;
    width: auto;
}

#sidebar-header>svg {
    height: 2rem;
    width: auto;
}