:root {
    --blue-color: RGB(69, 144, 207);
    --grey-color: RGB(227, 232, 239);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

#content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: var(--grey-color);
}

#dashboard {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 3fr;
}

#header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background-color: white;
    box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.5);
}

#sidebar {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background-color: var(--blue-color);
}